@font-face
{
    src:url("assets/fonts/MyriadPro.swf");
    fontFamily: "Myriad Pro";
}

@font-face
{
    src:url("assets/fonts/MyriadPro.swf");
    fontFamily: "Myriad Pro";
    fontWeight: semi-bold;
}