@font-face
{
    src:url("assets/fonts/MyriadPro.swf");
    fontFamily: "Myriad Pro";
}

@font-face
{
    src:url("assets/fonts/MyriadPro.swf");
    fontFamily: "Myriad Pro";
    fontWeight: semi-bold;
}

@font-face
{
    src:url("assets/fonts/MyriadPro.swf");
    fontFamily: "Myriad Pro";
    fontWeight: italic;
}

/* Can't add Myriad Pro with font-weight bold because of bug in Flex 3.2 SDK (bug #14308).  Fixed in Flex 4, but not for Flex 3
@font-face
{
    src:url("assets/fonts/MyriadPro.swf");
    fontFamily: "Myriad Pro";
    fontWeight: bold;
}
*/